<h1 class="root-header"> WORKOUT LOGGER </h1>
<a class="root-link" href="/workouts/">View Workouts</a>
<a class="root-link" href="/workouts/new">Add Workout</a>

<footer class="root-footer">Made by Dan Levenson, 2017</footer>