<div class="root-container"	>
	<h1 class="root-header"> WORKOUT LOGGER </h1>
	<div class="link-container">
		<form class="root-form" action="http://localhost:3000/workouts">
			<button class="root-link" id="view-link"">View Workouts</button>
		</form>
		<form class="root-form" action="http://localhost:3000/workouts/new">
			<button class="root-link" id="new-link">Add Workout</button>
		</form>
	</div>

	<footer class="root-footer">Made by Dan Levenson, 2017</footer>
</div>