/*// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-color: #B7E3E4;
/*	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/

}

.root-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 890px;
}

.link-container {
	display: flex;
	flex-direction: column;
}

.root-header {
	/*margin-top: 100px;*/
	font-family: 'Roboto', sans-serif;
}

.root-form {
	width: 450px;
	display: flex;
	justify-content: center;
}

.root-link {
	color: #E54B4B;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
}

#view-link {
	margin-top: 250px;
}

#new-link {
	margin-bottom: 350px;
}

.root-footer {
	font-family: 'Roboto', sans-serif;
}