/*// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

.index-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 890px;
}

.show-container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 890px;
}

.new-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 890px;
}

.edit-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 890px;
}

.index-header {
	font-family: 'Roboto', sans-serif;
	color: #E54B4B;
	font-size: 52px;
}

.show-header {
	font-family: 'Roboto', sans-serif;
	color: #E54B4B;
	font-size: 52px;
}

.index-form{
	width: 450px;
	display: flex;
	justify-content: center;
}

.index-add {
	background-color: #B7E3E4;
	border: 1px solid black;
	color: #E54B4B;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	margin-bottom: 100px;
}

.index-add:hover {
	background-color: white;
}

.show-form {
	width: 450px;
	display: flex;
	justify-content: center;
}

.show-list:hover {
	background-color: white;
}

.index-subheader {
	color: #E54B4B;
	font-family: 'Roboto', sans-serif;
	font-size: 38px;
}

.index-subcont {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.show-subcont {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.new-subcont {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.edit-subcont {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.workout-ul {
	width: 300px;
	height: 450px;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	color: #E54B4B;
}

.workout-li {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
}

a {
	color: #E54B4B;
}

a:hover {
	color: #E54B4B;
}

a:visited {
	color: #E54B4B;
}


.show-UD {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.show-link {
	background-color: #B7E3E4;
	border: 1px solid black;
	color: #E54B4B;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
}

.show-link:hover {
	background-color: white;
}

.show-info {
	width: 300px;
	height: 450px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #E54B4B;
}

.form-container {
	width: 300px;
	height: 450px;
	font-family: 'Roboto', sans-serif;
	color: #E54B4B;
}

.quote-container {
	width: 300px;
	height: 450px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #E54B4B;
	padding-left: 30px;	
}

.partial-footer {	
	font-family: 'Roboto', sans-serif;
	color: #E54B4B;
}