<div class="root-container"	>
	<h1 class="root-header"> WORKOUT LOGGER </h1>
	<div class="link-container">
		<div class="root-form">
			<%# set View Workouts button to redirect to list of workouts %>
			<%= button_to 'View Workouts', workouts_path(@workouts), :class => "root-link", :method => :get %>		
		</div>
		<div class="root-form">
			<%# set Add Workout button to navigate to create workout page %>
			<%= button_to 'Add Workout', new_workout_path(@workout), :class => "root-link", :method => :get %>
		</div>
	</div>

	<footer class="root-footer">Made by Dan Levenson, 2017</footer>
</div>